@font-face {
    font-family: 'hywenhei85w';
    src: url('webfontkit/zh-cn-webfont.woff2') format('woff2'),
         url('webfontkit/zh-cn-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'hywenhei85w';
    background-size: cover;
    background-blend-mode: darken;
}

.colorPrincipal {
    background: linear-gradient(180deg,
            rgb(14, 44, 83) 10%,
            rgb(30, 114, 187) 90%
    );
}

.progress-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
.progress-container {
    height: 5px;
    width: 100%;
}

.progress-scroll {
    background-color: rgb(14, 44, 83);
    height: 5px;
    width: 0%;
}

.titleIndex {
    background-color: rgb(205, 170, 118);
}

.link-unline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.link-unline:after {
    content: '';
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    left: 10%;
    width: 0;
    border-bottom: 3px solid white;
    transition: 0.5s;
}

.link-unline:hover:after {
    width: 80%;
}

.img-center-character-index {
    height: 500px;
    object-fit: cover;
    object-position: 50% 20%;
}

.img-center-weapon {
    height: 240px;
    object-fit: cover;
    object-position: 50% 0%;
}

.img-center-character {
    height: 210px;
    object-fit: cover;
    object-position: 50% 25%;
}

.border-nation {
    background-color: rgba(231, 231, 231, 0.699);
    border-top: 1px solid rgb(255, 242, 91);
    border-bottom: 1px solid rgb(186, 160, 107);
}