body {
    background-size: cover;
    background-blend-mode: darken;
}

.color1 {
    background: linear-gradient(180deg,
            rgb(14, 44, 83) 10%,
            rgb(30, 114, 187) 90%
    );
}

.link-unline {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.link-unline:after {
    content: '';
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    left: 10%;
    width: 0;
    border-bottom: 3px solid white;
    transition: 0.5s;
}

.link-unline:hover:after {
    width: 80%;
}

.img-center-weapon {
    height: 240px;
    object-fit: cover;
    object-position: 50% 0%;
}

.img-center-character {
    height: 210px;
    object-fit: cover;
    object-position: 50% 25%;
}